.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #1f1f1f;
}

.playfield {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: red;
  border-style: solid;
}
